<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Panda\Stock\Api\Data\CatalogInventoryInterface" type="Panda\Stock\Model\CatalogInventory" />
    <preference for="Panda\Stock\Api\Data\CatalogInventoryRepositoryInterface" type="Panda\Stock\Model\CatalogInventoryRepository"/>
</config>
